@keyframes hero-background-change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.hero-background {
  background-color: #3045ff;
  background-image: url(/noise-light.png);
  animation: hero-background-change 180s ease-in-out infinite;
}

@keyframes variable-loop {
  0% {
    font-weight: 45;
  }
  50% {
    font-weight: 930;
  }
  100% {
    font-weight: 45;
  }
}

.hero-letter-1 {
  --delay: 0s;
}

.hero-letter-2 {
  --delay: 0.2s;
}

.hero-letter-3 {
  --delay: 0.4s;
}

.hero-letter-4 {
  --delay: 0.6s;
}

.hero-letter-5 {
  --delay: 0.8s;
}

.hero-letter-6 {
  --delay: 1s;
}

.hero-letter-7 {
  --delay: 1.2s;
}

.hero-letter {
  animation: variable-loop 4s infinite both;
  animation-delay: var(--delay);
  text-align: center;
  font-size: 15vw;
  line-height: 15vw;
  font-feature-settings: "calt";
  will-change: scroll-position;
}
